<mat-sidenav-container class="sidenav-container">

  <!-- Sidebar -->
  <mat-sidenav mode="side" opened>
    <mat-toolbar>Menú</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <a mat-list-item routerLink="/users" routerLinkActive="active-link">
        <mat-icon>people</mat-icon>
        Usuarios
      </a>
      <a mat-list-item routerLink="/panel" routerLinkActive="active-link">
        <mat-icon>air</mat-icon>
        Calidad Aire
      </a>
      <a mat-list-item routerLink="/login" routerLinkActive="active-link">
        <mat-icon>login</mat-icon>
        Login
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content class="pt-5">
    <mat-toolbar color="primary" class="mt-10">
      <h1 class="bitcount-title">Climadata</h1>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>

</mat-sidenav-container>
